<html>
<head>
<title>stomp-sampler</title>
</head>
<h1>samples</h1>
<body>
<div><table>
{% for sample in samples %}
<tr>
<td>{{ sample }}</td>
<td><audio controls><source src="/sample/{{ sample }}"></audio></td>
<td><button type="button" onclick="deleteSample('{{sample}}')">delete</button></td>
</tr>
{% endfor %}
</table>
</div>
<br><br>
<input type="file" id="myFile">
</body>
</html>

<script>
function deleteSample(sample) {
    var xhr = new XMLHttpRequest();
    let endpoint = "/sample/";
    let path = endpoint.concat(sample);
    
    xhr.onreadystatechange = function() {
    if (xhr.readyState == XMLHttpRequest.DONE) {
        location.reload()
    }
}
    xhr.open("DELETE", path, true);
    xhr.send();
}
</script>