<html>
<head>
<title>stomp-sampler</title>
</head>
<h1>stomp-sampler</h1>
<body>
<div><table>
{% for sample in samples %}
<tr>
<td>{{ sample }}</td>
<td><audio controls><source src="{{ url_for('static', filename = sample)}}"></audio></td>
<td><button type="button" onclick="deleteSample('{{sample}}')">delete</button></td>
</tr>
{% endfor %}
</table>
</div>
<br/><br/>

{% if max_samples%}
<i>limit {{ samples|length }}</i>
<br/><br/>
{% endif %}

<form enctype="multipart/form-data" action="/sample" method="POST">
Add a new sample: 
{% if max_samples %}
<input name="file" type="file" disabled/>
{% else %}
<input name="file" type="file"/>
{% endif %}
<br/>
{% if max_samples %}
<input type="submit" disabled/>
{% else %}
<input type="submit"/>
{% endif %}
</form>

</body>
</html>

<script>
function deleteSample(sample) {
    var xhr = new XMLHttpRequest();
    let endpoint = "/sample/";
    let path = endpoint.concat(sample);
    
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            location.reload()
        }
    }
    xhr.open("DELETE", path, true);
    xhr.send();
}
</script>